@if ((cartItems|async)!.length>0) {
  <!-- Show full cart if there are items -->
  <div class="cart-container">
    @for (cartItem of (cartItems | async); track cartItem.id) {
      <div class="cartItems-container">
        <div class="cartItem">
          <img [src]="cartItem.imageUrl" alt="{{ cartItem.name }}" />
          <div class="cartItem-details">
            <h3>{{ cartItem.name }}</h3>
            <p>Price: {{ cartItem.totalPrice | currency }}</p>
            <p>Quantity: {{ cartItem.quantity }}</p>
          </div>
          <button class="btn-remove" (click)="removeFromCart(cartItem.id)">Remove</button>
          <div class="btn-add-remove" (click)="increaseQuantity(cartItem.id)">+</div>
          <div class="btn-add-remove" (click)="decreaseQuantity(cartItem.id)">-</div>
        </div>
      </div>
    }
    <div class="cart-summary">
      <h2>Cart Summary</h2>
      <p>Total Items: {{ (cartItems | async)?.length }}</p>
      <p>Total Price: {{ getTotalPrice(cartItems | async) | currency }}</p>
      <button>Checkout</button>
    </div>
  </div>
} @else {
  <div class="empty-cart">
    <img src="https://res.cloudinary.com/dvlo9lpxo/image/upload/v1746996753/undraw_empty-cart_574u_ifekqp.png" alt="Empty Cart" />
    <h2>Your cart is empty</h2>
    <p>Add items to your cart to see them here.</p>
  </div>
}
