@if(isLoading) {
  <app-loader></app-loader>
}@else if(product && !isLoading) {
  <div class="product-details">
    <div class="product-card">
      <img [src]="product.imageUrl" alt="Product Image" class="product-image" />
      <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p>{{ 'products.price' | translate }} {{ product.price | currency : "USD" }}</p>
        @if ((isLoggedIn$ | async) == false) {
          <div class="warn-message">
            <p-message icon="ri-error-warning-line" severity="warn" size="large">{{'products.warnMessage' | translate}}</p-message>
          </div>
        }
        <button class="buy-now" (click)="goToCartPage()">{{ 'buttons.buy' | translate }}</button>
      </div>
    </div>
  </div>
}@else {
  <app-not-found></app-not-found>
}